run = "python main.py"
language = "python3"
hidden = [".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["python-3.12", "nix", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python ordered_sync.py"]
deploymentTarget = "scheduled"

[[ports]]
localPort = 8080
externalPort = 80
